.danger {
  background-color: var(--danger);
  /* color: var(--white-90); */
}
.danger:hover {
  background-color: var(--danger-hover);
}
/* Modal Styles */
.modal {
  position: fixed;
  inset: 0;
  background-color: var(--shadow);
  backdrop-filter: blur(2px);
  display: none;
  visibility: hidden;
}
.modal.active {
  display: grid;
  place-items: center;
  animation: slide-in 0.4s ease;
  visibility: visible;
}

.modal-content {
  background-color: var(--blue-50-10);
  position: relative;
  padding: 1.5em;
  top: -2rem;
  max-width: fit-content;
  max-width: -moz-fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  z-index: 20;
  border: 1px;
  box-shadow: 0 3px 3px var(--shadow);

}
.modal-title {
  margin-top: 0;
}
/* Login Form Styles */
.user-error {
  color: var(--danger)
}
.user-form {
  margin-top: 1rem;  
  display: flex;
  flex-direction: column;
}
.buttons *{
  width: calc(50% - 0.8em);
}