:root {
  scroll-behavior: smooth;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Variables */
  --white-100: hsl(0, 0%, 100%);
  --white-90: hsl(0, 0%, 90%);
  --white-80: hsl(0, 0%, 80%);
  --white-70: hsl(0, 0%, 70%);
  --light-blue-80-15: hsl(180, 81%, 15%);
  --blue-50-20: hsl(200, 50%, 20%);
  --blue-50-10: hsl(200, 50%, 10%);
  --blue-30-10: hsl(200, 30%, 10%);
  --shadow: hsla(0, 0%, 0%, 0.3);
  --code: hsl(0, 0%, 12%);
  --primary: hsl(43, 100%, 65%);
  --primary-hover: hsl(43, 100%, 50%);
  --info: hsl(190, 100%, 50%);
  --info-dark: hsl(190, 80%, 50%);
  --danger: hsl(0, 100%, 40%);
  --danger-hover: hsl(0, 100%, 30%);
}
::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 8px var(--info-dark);
  background-color: inherit;
  border: 2px solid transparent;
  border-radius: 5px !important;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
noscript {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: var(--background-color);
  color: var(--white-100);
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  overflow: overlay;
  font-size: 1.2rem;
}
header,
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em 0 1em;
  height: var(--header-footer-height);
  background-color: var(--blue-50-10);
  color: var(--white-80);
}
:focus-visible {
  outline: none;
  outline: .1rem solid var(--white-70)
}
header {
  color: var(--white-90);
}
#header-link {
  text-decoration: none;
  color: inherit;
}
main {
  background-color: var(--blue-50-20);
  padding: 1em;
  color: var(--white-100);
}
.card {
  background-color: var(--blue-30-10);
  box-shadow: 2px 2px 4px var(--shadow);
  border-radius: 4px;
  margin: 1rem 0 1rem 0;
  padding: 1em;
}
button {
  background-color: var(--primary);
  border: none;
  padding: 0.4em;
  margin: 0.4em;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s background-color;
}
button:hover {
  background-color: var(--primary-hover);
}
.danger {
  background-color: var(--danger);
  color: var(--white-90);
}
.danger:hover {
  background-color: var(--danger-hover);
}
.copy-icon {
  float: right;
  margin: 0;
  cursor: pointer;
  transform: scale(2) translateY(-0.1em);
}
#labelId:after {
  content: "\1f6c8";
  padding-left: 0.2em;
  cursor: help;
}
input {
  border: none;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 3px;
  width: calc(100% - 1.6em);
  background-color: var(--light-blue-80-15);
  color: var(--white-100);
  /* border-bottom: 4px solid #0F1415; */
}
input::placeholder {
  color: var(--white-70);
}
pre {
  color: var(--white-80);
  background-color: var(--code);
  border-radius: 4px;
  padding: 1em;
  margin: 0;
  word-wrap: break-word;
  white-space: pre-wrap;
  height: calc(100% - 2em);
}
footer a {
  text-decoration: none;
  color: inherit;
}
#made-by {
  font-weight: bolder;
}
pre > a {
  color: var(--info);
}
@media (min-width: 700px) {
  .link-form {
    display: grid;
    align-items: center;
    grid-template: 1fr 1fr / 50% 30% 20%;
    grid-template-areas: "label-url label-id label-submit" "url id submit";
  }
  #labelId {
    grid-area: label-id;
  }
  #labelUrl {
    grid-area: label-url;
  }
  #newUrl {
    grid-area: url;
  }
  #customId {
    grid-area: id;
  }
  #url-submit {
    grid-area: submit;
  }
  input {
    width: initial;
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
